@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root,html,body{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}



.home{
    padding-top: 50px;
}